<section id="features">
    <h1>Features</h1><br> 
    <ul>
      <li><h3 style="color: red;">WHY HANDBAGS? : </h3><br>
        From parties to brunch dates, from office duty to dinner nights you will find them elegantly by the ladies’ side; yes I’m talking about handbags! Why handbags you ask? The most multifunctional bag to date, they are a woman’s best friend. From being a mobile storage space for keys, wallets, smartphones, and what not to style statements, from being a must-have regardless of what the other bag is, whether you are taking it to the office or vacation, a handbag almost has a universal usage for women.  A wide range of handbag features causes women to cherish them.</li>
      <br><br><li><h3 style="color: red;">WHAT ARE THE FEATURES OF LADIES HANDBAGS? : </h3> <br>
        Handbags add comfort, convenience, and confidence to our daily life. Amidst responsibilities, chaos, and duties, when women are out and about, they want to look good and feel self-reliant. Depending on the handbag features, and perspective of the user, the definition of a “good handbag” keeps on changing. For some, it is about a handbag in a neutral color that matches all the outfits, for some, it is a roomy bag with glossy surface, for some it is a floral printed handbag in vibrant color with lots of compartments, and for some, it is just about a handbag that makes the head turn wherever they go. 
        </li><br>

      <ul><h3 style="color: red;">Key Features :</h3><br>
        <li>Spaciousness</li>
        <li>Versatility</li>
        <li>Comfort</li>
        <li>Quality</li>
      </ul>
    
    </ul>
  </section>
